<h1>Doctors#show</h1>
<br>
<div id="doctor-info">
  <h2>Name: <%= @doctor.name %></h2>
  <p>Specialty: <%= @doctor.specialty %></p>
  <p>Education: <%= @doctor.university %></p>
  <br>
  <h3>Hospital: <%= @doctor.hospital.name %></h3>
</div>
<div id="patients">
  <h3>Patients:</h3>
  <ul>
    <% @doctor.patients.each do |patient| %>
      <li><%= patient.name %><%= button_to "Remove Patient #{patient.id}", patient_doctor_path, method: :delete, params: { doctor_id: @doctor.id, patient_id: patient.id }  %></li>
    <% end %>
  </ul>
</div>